<header>
  <h1>
    <a href="{{ "/" | relative_url }}">
      Magnus Eldrup
    </a>
  </h1>

  <img class="site-logo"
       src="{{ "/assets/img/magnus.jpeg" | relative_url }}"
       alt="Magnus Eldrup" />

  <p class="view">
    PhD Candidate in Economics<br>
    University of Copenhagen<br>
    Development Economics Research Group (DERG)<br>
    <br>
    Email: <a href="mailto:mel@econ.ku.dk">mel@econ.ku.dk</a><br>
    <br>
    <a href="{{ "/assets/cv/MagnusEldrup_CV.pdf" | relative_url }}" target="_blank">CV</a><br>
    <!-- add others if you want -->
    <!-- <a href="https://scholar.google.com/..." target="_blank">Google Scholar</a><br> -->
    <!-- <a href="https://github.com/MagnusEldrup" target="_blank">GitHub</a><br> -->
  </p>
</header>
